altair
anyio
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
Cython
dash
debugpy
decorator
exceptiongroup
executing
Flask
fonttools
formulaic
gitdb
GitPython
h11
httpcore
httpx
idna
importlib_metadata
interface-meta
ipeadatapy
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
linearmodels
lxml
MarkupSafe
matplotlib
matplotlib-inline
mypy_extensions
narwhals
nest_asyncio
numpy
packaging
pandas
parso
patsy
pickleshare
pillow
platformdirs
plotly
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pydeck
Pygments
pyhdfe
pyparsing
python-bcb
python-dateutil
pytz
pywin32
pyzmq
referencing
requests
retrying
rpds-py
scikit-base
scikit-learn
scipy
seaborn
setuptools
setuptools-scm
sidrapy
six
smmap
sniffio
stack_data
statsmodels
streamlit
tenacity
threadpoolctl
toml
tornado
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
Werkzeug
wheel
wrapt
zipp
