name: Run pib_nowcast.py

on:
    schedule:
        - cron: '00 9,10,12,18 * * 1-5' # “At minute 0 past hour 9, 10, 12, and 18 on every day-of-week from Monday through Friday.”
        # - cron: '*/5 * * * *' # Every 5 minutes
    workflow_dispatch:

jobs:
    run_schedule:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v4

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip wheel setuptools
                python -m pip install -r requirements.txt

            - name: Run model_creation.py
              run: python model_creation.py
